h4
{
	font-weight: bold;
}

header
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.header-title
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sinscrire
{
margin: 0px 10px
}
.hebergements-Marseille
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: black;	
}
.hebergements
{
	margin: 10px;
	width: 70%;
	display: flex;
	flex-direction: column;
	background-color: rgb(240,240,240);
	border-radius: 15px;
}
.populaires
{
	margin: 10px;
	width: 30%;
	background-color: rgb(240,240,240);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.logement
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.carte
{
	background-color: white;
	margin: 5px;
	height: 270px;
	width: 28%;	
	border-radius: 10px;
	background-size: cover;
	padding: 5px;
	text-decoration: none;
	color: black;
}
.liste-a-propos
{
	display: flex;
	flex-direction: column;
}
.footer
{

	display: flex;
	flex-direction: row;
}
.assistance
{
	display: flex;
	flex-direction: row;
}
.nos-hebergements
{
	list-style-type: none;
}
.auberge-la-cannebiere
{
	width: 100%;
	height: 150px;
	background-image: url(marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.hotel-du-port
{
	width: 100%;
	height: 150px;
	background-image: url(fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.hotel-les-mouettes
{
	width: 100%;
	height: 150px;
	background-image: url(reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.hotel-mer
{
	width: 100%;
	height: 150px;
	background-image: url(annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.auberge-panier
{
	width: 100%;
	height: 150px;
	background-image: url(nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.chez-amina
{
	width: 100%;
	height: 150px;
	background-image: url(febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.hotel-soleil-matin
{
	width: 100px;
	height: 175px;
	background-image: url(emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.coeur-eau
{
	width: 100px;
	height: 175px;
	background-image:url(aw-creative-VGs8z60yT2c-unsplash.jpg);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.tout-bleu-blanc
{
	width: 100px;
	height: 175px;
	background-image:url(febrian-zakaria-sjvU0THccQA-unsplash.jpg);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.carte-2
{
	display: flex;
	margin: 30px;
	border-radius: 10px;
	text-decoration: none;
	background-color: white;
	padding: 5px;
	color: black;
}
.photo-vieux-port
{
	background-image: url(reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
	height: 300px;
	width: 100%;
}

.activité-marseille
{
	display: flex;
	flex-direction: row;
}
.carte-3
{
	width: 20%;
	margin: 10px;
}
.photo-pomegues
{
	width: 100%;
	height: 125px;
	background-image: url(paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.photo-frioul
{
	width: 100%;
	height: 100px;
	background-image: url(kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
.photo-calanques
{
	width: 100%;
	height: 300px;
	background-image: url(kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
.photo-notre-dame
{
	width: 100%;
	height: 100px;
	background-image: url(florian-wehde-xW9e8gdotxI-unsplash.jpg);

}
.carte-image
{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.afficher
{
	font-weight: bold;
	margin-left: 10px;
}
.titre-hebergements
{
	margin-left: 10px;
}
.titre-populaire
{
	margin-left: 30px;
}
.hotel-prix
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.fas fa-star
{
	color: blue;
}