h4
{
	font-weight: bold;
}

header
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.header-title
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.activités
{
	margin: 0px 10px;
}
.sinscrire
{
margin: 0px 10px
}
.hebergements-Marseille
{
	display: flex;
	flex-direction: row;
	justify-content: space-between	
}
.hebergements
{
	margin: 10px;
	width: 70%;
	display: flex;
	flex-direction: column;
	background-color: rgb(240,240,240);
}
.populaires
{
	margin: 10px;
	width: 30%;
	background-color: rgb(240,240,240);
}
.logement
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.carte
{
	background-color: blue;
	margin: 10px;
	height: 300spx;
	width: 210px;
	flex: 1;
}
.liste-a-propos
{
	display: flex;
	flex-direction: column;
}
.footer
{
	display: flex;
	flex-direction: row;
}
.assistance
{
	display: flex;
	flex-direction: row;
}
.nos-hebergements
{
	list-style-type: none;
}
.auberge-la-cannebiere
{
	width: 200px;
	height: 150px;
	background-image: url(marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.hotel-du-port
{
	width: 200px;
	height: 150px;
	background-image: url(fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.hotel-les-mouettes
{
	width: 200px;
	height: 150px;
	background-image: url(reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.hotel-mer
{
	width: 200px;
	height: 150px;
	background-image: url(annie-spratt-Eg1qcIitAuA-unsplash.jpg)
}
.auberge-panier
{
	width: 200px;
	height: 150px;
	background-image: url(nicate-lee-kT-ZyaiwBe0-unsplash.jpg)
}
.chez-amina
{
	width: 200px;
	height: 150px;
	background-image: url(febrian-zakaria-M6S1WvfW68A-unsplash.jpg)
}